{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="container">

    <h1>Nous Contacter!</h1>

    {{ form(ContactForm) }}
</div>
{% endblock %}
